.detail{
    width: 100%;
    background-color: #ffff;
    margin: 10px 0;
}


.card_detail{
    display: flex;
    padding: 10px 0;
    gap: 35px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.card_detail_images{
    display: flex;
    gap: 16px;
}

.secondary_images{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.secondary_img{
    border-radius: 15px;
    width: 150px;
    height: 160px;
}

.main_img{
    border-radius: 15px;
    height: 100%;
    width: 300px;
    height: 350px;
    background-size: cover;
}

.card_detail_info{
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.name{
    font-size: 34px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.review{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}


.price_discount{
    display: flex;
    gap: 12px;
}

.price_by_discount{
    color: black;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.real_price{
    color: rgba(0, 0, 0, 0.4);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.discount, .card_discount{
    color: #FF3333;
    font-size: 14px;
    background: #FF33331A;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

.about{
    color: rgba(0, 0, 0, 0.7);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 0 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.sizes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sizes .text{
    color: rgba(0, 0, 0, 0.4);
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.select_size{
    display: flex;
    gap: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.select_size span{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 9px 18px;
    border-radius: 24px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.7);
}


.select_size span.active{
    color: white;
    background-color: black;
}

.order{
    display: flex;
    gap: 20px;
    margin-top: 10px;
    align-items: center;

}

.available{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 8px 55px;
    position: relative;
    display: flex;
    border-radius: 20px;
    align-items: center;
}


.available img.minus{
    position: absolute;
    top: 8px;
    left: 6px;
    width: 20px;
    cursor: pointer;
}


.available img.plus{
    position: absolute;
    top: 8px;
    right: 6px;
    width: 20px;
    cursor: pointer;
}

.order_btn{
    border: none;
    background-color: black;
    color: white;
    padding: 8.7px 70px;
    border-radius: 22px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}


.reviews{
    display: flex;
    flex-direction: column;
}

.review_head{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}


.heading{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.heading span span{
    color: rgba(0, 0, 0, 0.6);
}


.filters{
    display: flex;
    gap: 12px;
    align-items: center;
}


.filter_img{
    width: 32px;
    height: 32px;
    padding: 4.9px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


.select_input{
    padding: 6px 18px;
    border-radius: 24px;   
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
    cursor: pointer;
}


.select_input option{
    border-radius: 40px;
    padding: 10px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s ease-in-out;
    padding: 5px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.review_btn{
    background-color: black;
    color: white;
    padding: 6px 20px;
    border-radius: 22px;
    cursor: pointer;
    outline: none;
    border: none;
}



.about_review{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin: 20px 0;
}


.about_review_comment{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 450px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 14px 15px;
    border-radius: 16px;
}

.comment_stars{
    display: flex;
    gap: 2px;
}

.comment_verified{
    display: flex;
    gap: 6px;
    align-items: center;
}

.comment_author{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 15.2px;
}

.comment_checkmark{
    width: 16.1px;
    height: 16px;
}

.comment_body{
    color: rgba(0, 0, 0, 0.6);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.3px;
}


.comment_publish_date{
    color: rgba(0, 0, 0, 0.6);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12.6px;
    font-weight: 600;
}



.other_products{
    margin: 10px 0 140px;
}

.other_product_head{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.other_cards {
    display: flex;
    margin: 20px 0;
    overflow-x: auto;
    width: 100%;
    gap: 8px;
}

.render_card{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 225px;
    gap: 4px;
}

.card_image img{
    width: 100%;
    border-radius: 10px;
    height: 185px;
}

.card_name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 5px 10px 0;
}

.card_review{
    display: flex;
    gap: 5px;
    padding: 5px 10px 0;
    align-items: center;
}

.card_total_rating{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14.5px;
}

.card_prices{
    display: flex;
    align-items: center;
    gap: 5px;
}

.card_price_by_discount{
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 10px 0;
    font-size: 15px;
    font-weight: 600;
}

.card_real_price{
    color: rgba(0, 0, 0, 0.3);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
}